body{
    background-image: url("/images/democracy.jpg");
    background-size: cover;
    
    margin-top: 2%;
}

.table-responsive, h1 {
    color:white;
    width:40%;
}
.container{
    position:fixed;
    top:70%;
    left:20%;
    

}