body{
    background-image: url("/images/flag2.jpg");
    background-size: cover;
    
}
.table-responsive, h1 {
    color:white;
    width:45%;
}
.container{
    position:fixed;
    top:50%;
    left:50%;
    margin-top: -140px;
    

    
}